@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Space+Grotesk:wght@300;500;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  padding: 25px !important;
  ul {
    li {
      a {
        font-weight: 600;
      }
    }
  }
}

.card-cgt {
  .card-content-cgt {
    a {
      text-decoration: none;
    }
    small {
      color: #ed3452;
      font-weight: 600;
      &:hover {
        color: #a3273b;
      }
    }
    h2 {
      font-weight: 600;
      a {
        color: #331d74;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      color: #818181;
    }
    .card-content-footer {
      color: #818181;
      &:hover {
        color: #818181;
      }
    }
  }
}

.divider {
  height: 1px;
  border-top: 1px solid #ed3452;
}

.last-posts {
  img {
    width: 180px;
    &.img-in-post {
      width: 120px;
    }
  }

  .h5-in-post {
    font-size: 16px;
  }

  .last-posts-items {
    border-top: 1px solid #331d74;
  }

  .boxs {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content-all-posts {
  h1 {
    font-size: 25px;
    font-weight: 600;
    color: #331d74;
  }
}

.card {
  width: 21rem;
  border-radius: 20px;
  img {
    border-radius: 20px 20px 0 0;
  }
}

.subscribe {
  h1 {
    font-weight: 800;
    color: #331d74;
  }

  p {
    color: #331d74;
  }

  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;
    width: 80%;
    padding: 0;
    color: #331d74;

    &:focus {
      box-shadow: none;
      border-bottom: 1px solid #331d74;
    }

    &::placeholder {
      color: #000;
      padding: 0;
      font-weight: 400;
    }
  }

  button {
    background-color: #331d74;
    border: 0;
    height: 45px;
    font-weight: bold;

    &:hover {
      background-color: #ed3452;
      color: #fff;
    }
  }

  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      margin: 10px 40px 0 0;
      a {
        font-size: 24px;
        color: #ed3452;

        &:hover {
          color: #a3273b;
        }
      }
    }
  }

  .bg-subcribe {
    position: relative;

    img {
      z-index: 10000;
    }

    &::before {
      content: "";
      position: absolute;
      width: 450px;
      height: 450px;
      background: #e0e0e0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
  }
}

.section-info {
  background: #ed3452;
  color: #fff;
  min-height: 400px;

  .btn-secondary {
    background: #040e30;
    border: 0;
    height: 45px;
    padding: 11px 20px;
    font-weight: bold;
  }
}

footer {
  background-color: #040e30;
  min-height: 350px;
  color: #fff;

  .phone {
    a {
      color: #ed3452;
      font-weight: bold;
      font-size: 15px;
    }
  }

  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      margin: 10px 40px 0 0;
      a {
        font-size: 24px;
        color: #ed3452;

        &:hover {
          color: #a3273b;
        }
      }
    }
  }

  h6 {
    color: #ed3452;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    span {
      font-weight: bold;
    }
  }
}

.subcribe-post {
  .subcribe-box {
    background-color: #ffb9c6;
    h2 {
      color: #a3273b;
      font-weight: bold;
      font-size: 23px;
    }
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        margin: 10px 40px 0 0;
        a {
          font-size: 24px;
          color: #ed3452;

          &:hover {
            color: #a3273b;
          }
        }
      }
    }

    h3 {
      color: #a3273b;
      font-weight: bold;
      font-size: 35px !important;
    }

    .form-control {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid;
      width: 80%;
      padding: 0;
      color: #ed3452;
      background-color: #ffb9c6;

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid #331d74;
      }

      &::placeholder {
        color: #ed3452;
        padding: 0;
        font-weight: 400;
      }
    }

    button {
      background-color: #331d74;
      border: 0;
      height: 45px;
      font-weight: bold;

      &:hover {
        background-color: #ed3452;
        color: #fff;
      }
    }
  }
}

.post-content {
  .header-post {
    .profile {
      p {
        font-weight: bold;
      }
      img {
        border-radius: 50%;
      }
    }
    .category {
      color: #ed3452;
      display: flex;
      li {
        list-style: none;
        text-transform: capitalize;
        span {
          margin-right: 5px;
        }
        &:last-child {
          .last-span {
            display: none;
          }
        }
      }
    }
  }

  .post-tags {
    color: #ed3452;
    display: flex;
    li {
      list-style: none;
      text-transform: capitalize;
      span {
        margin-right: 5px;
      }
      &:last-child {
        .last-span {
          display: none;
        }
      }
    }
  }

  .social-networks {
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        margin: 10px 40px 0 0;
        a {
          font-size: 24px;
          color: #ed3452;

          &:hover {
            color: #a3273b;
          }
        }
      }
    }
  }
}


.category-page {
  h1 {
    text-transform: capitalize;
  }
}