@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f3f6fb !important;
  

}

header {
  background-image: url("../images/slider_1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 987px;

  @media (min-width: 950px) {
    .navbar {
      position: relative;
      margin-right: 30px;
  
      .logo-img {
        position: absolute;
        left: 230px;
      }
    }
  }

  .navbar-toggler {
    i {
      color:#f3f6fb
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
 
  .navigation-home {
    background-color: transparent !important;

    li {
      margin-right: 25px;
      a {
        font-size: 17px !important;
        color:#fff !important;
        font-weight: 500;
        transition: .5s;
        &.contact-link {
          background-color: #F7324E;
          border-radius: 25px;
          padding: 10px;
          &:hover {
            background-color: #c72840;
            color:#fff !important;
          }
        }

        &:hover {
          color:#F7324E !important;
        }
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
    color: #fff;
  }

  @media (max-width: 850px) {
    background-position: top;
    h1 {
      line-height: 38px;

      strong {
        font-size: 30px;
      }
    }

    h2 {
      font-size: 30px;
      color: #fff;
    }

    .row {
      height: initial !important;
    }

    .btn-default {
      margin-bottom: 40px;
    }

    .img-tablet-header {
      width: 100%;
    }
  }

}
@media (min-width:1200px) {
  .our-parthers {
    .items1 {
      height: 230px;
    }
    img {
      cursor: pointer;
      transition: .5s;
  
      &:hover {
        width: 190px;
      }
    }
  }
}


@media (max-width:767px) {
  .our-parthers {
    h2 {
      font-size: 26px;
    }
    img {
      width: 140px;
    }
    h4 {
      font-size: 14px !important;
    }
    .carousel-inner {
      height: 380px;
    }
  }
}

@media (min-width: 950px) {
  .our-parthers {
    height: 550px;
  }
  
  .talent-section {
    height: 1450px;
  }
}

section {
  h2 {
    font-size: 50px;
    color: #000030;
    font-weight: 300;
    position: relative;

    strong {
      font-weight: 700;
    }

    &.txt-right {
      text-align: right;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 126px;
        height: 3px;
        background-color: #f7324e;
        right: 0;
        top: -25px;
      }
    }

    &.txt-left {
      text-align: left;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 126px;
        height: 3px;
        background-color: #f7324e;
        left: 0;
        top: -25px;
      }
    }

    &.text-center {
      text-align: left;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: #f7324e;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -25px;
      }
    }
  }

  small {
    color: #000030;
    font-size: 18px;
    font-weight: 500;
  }
}

.btn.btn-default {
  &.primary {
    background-color: #fff;
    color: #f7324e;
    font-size: 18px;
    i {
      background: #f7324e;
      color: #fff;
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      top: 7px;
      right: 5px;
    }
  }
  background-color: #f7324e;
  color: #fff;
  padding: 20px 100px 20px 31px;
  border-radius: 50px;
  position: relative;
  transition: .8s;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width:767px) {
    padding: 11px 53px 11px 12px;
  }

  i {
    background: #f7324e;
      color: #fff;
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      top: 7px;
      right: 5px;

    @media (max-width:767px) {
      top:4px;
      padding: 9px !important;
    }

  }

  &:hover {
    background-color: #c72840;
    color: #fff;
    i {
      background-color: #fff;
      color: #f7324e;
    }
  }
}

@media (min-width:950px) {
  .section-tabs {
    background-image: url("../images/bg_01.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1229px;
  }

  .industries-section {
    background-image: url("../images/bg_02_test.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1273px;
  }

  .slider-section {
    background-image: url("../images/bg_03.png");
    background-repeat: no-repeat;
    width: 100%;
    height:987px;
  }

}
  
@media (max-width:750px) {
  .carousel-item-img {
    width: 100%;
  }
}

.tabs-section {
  
  @media (min-width:950) {
    .nav-item {
      margin-left: 50px;
    }
  }

  .content-image-phone {

    background-color: #F3F6FB;

    img {
      z-index: 1;
      position: relative;
    }

    .circle {
      position: relative;
      &::before {
        content: "";
        position:absolute;
        width: 180px;
        height: 180px;
        background-color: #000030;
        border-radius: 50%;
        left: 58px;
        bottom: 73px;
      }
    }
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-link {
    padding: 20px 40px;
    color: #000030;
    font-size: 22px;
    font-weight: 600;
  }

  .nav-link.active {
    background-color: #000030 !important;
    color: #fff !important;
    font-weight: 600 !important;
    border-radius: 10px 10px 0 0;
  }

  .tab-content {
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 0px 10px 40px #0000001a;

    .content-tabs {
      h4 {
        color: #f7324e;
        font-size: 28px;
        font-weight: 700;
      }
      h2 {
        font-weight: 500;
        font-size: 28px;
      }

      ul li {
        font-weight: 500;
        color: #000030;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:767px) {
  .section-tabs {
    h2 {
      font-size: 26px;
    }

    .nav-tabs {
      width: 100%;
      li {

        float: left !important;

        .nav-link {
          font-size: 18px;
          display: block;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }
      }
    }

    .tab-content {
      h4 {
        font-size: 23px !important;
      }

      h2 {
        font-size: 20px !important;
      }

      .content-image-phone {
        img {
          width: 100% !important;
        }
      }

    }
  }

  .industries-section, .talent-section, .slider-section, .workus-section {
    h2 {
      font-size: 30px;
    }
    small {
      font-size: 16px;
    }
  }
}

.industries {
  cursor: pointer;

  small {
    color: #000030;
    font-weight: 700;
    font-size: 13px;
  }


  @media (min-width:950px) {
    .induestrie-item {
      border-bottom: 3px solid #8098b0;
      transition: 0.5s;
    }
  }

  .induestrie-item-1 {
    .retail-img {
      background-image: url("../images/retail.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 126px;
      transition: .2s;
    }
    &:hover {
      .retail-img {
        background-image: url("../images/retail_on.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 126px;
      }
      @media (min-width:950px) {
        border-bottom: 3px solid #f7324e;
      }
      
    }
  }

  .induestrie-item-2 {
    .gobierno-img {
      background-image: url("../images/gobierno.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 126px;
      transition: .2s;
    }
    &:hover {
      .gobierno-img {
        background-image: url("../images/Icon_gobierno_on.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 126px;
      }
    }
    @media (min-width:950px) {
      &:hover {
        border-bottom: 3px solid #f7324e;
      }
    }
    
  }

  .induestrie-item-3 {
    .tecnologia-img {
      background-image: url("../images/tecnologia.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 126px;
      transition: .2s;
    }
    &:hover {
      .tecnologia-img {
        background-image: url("../images/tecnologia_on.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 126px;
      }
    }
    @media (min-width:950px) {
      &:hover {
        border-bottom: 3px solid #f7324e;
      }
    }
  }

  .induestrie-item-4 {
    .mano_factura-img {
      background-image: url("../images/mano_factura.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 126px;
      transition: .2s;
    }
    &:hover {
      .mano_factura-img {
        background-image: url("../images/mano_factura_on.png");
        background-repeat: no-repeat;
        background-position: center;
        height:126px;
      }
    }
    @media (min-width:950px) {
      &:hover {
        border-bottom: 3px solid #f7324e;
      }
    }
  }

  .induestrie-item-5 {
    .logistica-img {
      background-image: url("../images/logistica.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 126px;
      transition: .2s;
    }
    &:hover {
      .logistica-img {
        background-image: url("../images/logistica_on.png");
        background-repeat: no-repeat;
        background-position: center;
        height:126px;
      }
    }
    @media (min-width:950px) {
      &:hover {
        border-bottom: 3px solid #f7324e;
      }
    }
  }
}

.slider-title .slider-text-right {
  text-align: right;
}

.carousel-item {
  img {
    border-radius: 20px;
  }

  h4 {
    color: #345672;
    font-size: 18px;
  }

  i {
    margin-right: 25px;
    color: #8ca1bc;
  }

  p {
    color: #8ca1bc;
  }

  a {
    color: #345672;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;

    i {
      color: #345672;
      margin-left: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .carousel-indicators {
    bottom: -85px !important;
    align-items: center !important;
  }  
}

.carousel-indicators button {
  background-color: #c6c7c9 !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;

  &.active {
    background-color: #f7324e !important;
  }
}
.talent {
  .talent-box {
    background-color: #fff;
    box-shadow: 0px 10px 40px #0000001a;
    border-radius: 20px;
    height: 309px;
    position: relative;
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
    transition: 1s;

    @media (max-width:780px) {
      width: 100%;
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -60px;
      border-radius: 10px;
    }

    .talent-box-info {
      height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 130px;
      margin: 0 auto;
    }

    small {
      color: #8ca1bc;
      font-weight: 600;
      font-size: 14px;
    }

    h4 {
      font-size: 18px;
      color: #000030;
      font-weight: 600;
    }

    &:hover {
      background-color: #f7324e;
      margin-top: -10px;
      small,
      h4 {
        color: #fff;
      }
    }
  }
}

.workus {

  background-color: #fff;
  box-shadow: 0px 5px 99px #0000001A;
  padding: 40px;

  .box-workus {
    padding: 30px;
  }
}


.slider-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background .1s ease-in;
  height: 310px;  
  margin-bottom: 300px;
  input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .1s ease;
    cursor: pointer;
    border: 0 !important;

  }
  
  .container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;

    .content-workus {
      background-color: #fff;
      padding:55px;
      border-radius: 20px;
      box-shadow: 0px 5px 99px #0000001A;
      display: flex;
      align-items: center;
      transition: .2s;

      &:hover {
        background-color: #040e30;
      }

      @media (max-width:750px) {
        
        padding:13px;
        border-radius: 0px;
        display: inline;

        .content-workus-icon {
          padding: 30px
        }

        .content-workus-text {
          margin-left: 0;
        }
      }

      .content-workus-text {
        margin-left: 30px;
        h4 {
          font-size: 28px;
          color: #000030;
          font-weight: 600;
        }
        p {
          font-size: 18px;
          font-weight: 600;
          color:#000030
        }
      }

      &:hover {
        background-color: #040e30;
        .content-workus-text {
          h4 {
            color: #f3f6fb;
          }
          p {
            color:#f3f6fb
          }
        }
      }

    }
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(0) scale(0.8);
    opacity: 0.6;
    z-index: 0;
    top: -120px;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(0%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
    bottom: -160px;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }

}

@media (max-width: 676px) {
  .workus-section {
    .container, .col-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .content-workus-icon img {
      width: 40px !important;
    }

    .content-workus-text {
      margin-bottom: 30px !important;
      h4 {
        font-size: 22px !important;
      }
      p{
        font-size: 16px !important;
      }
    }


    #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
      top: -100px !important;
    }

    #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
      bottom: -200px;
    }

  }
}


/* don't display the checkbox */
.full-chk {
	display: none;
}


/* container object for the hamburger */
.full-cntr {
  position: absolute;
  right: 9px;
  top: 33px !important;
  z-index: 300;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.full-chk:checked + .full-cntr {
	border-color: #ffffff;
}

.full-chk:checked + .full-cntr > .full-span {
	background-color: #ffffff;
}

.full-span:nth-child(1) {
	top: 4px;
}

.full-chk:checked + .full-cntr > .full-span:nth-child(1) {
	transform: rotate(45deg);
	width: 23px;
	left: 11px;
}

.full-span:nth-child(2) {
	top: 12px;
}

.full-chk:checked + .full-cntr > .full-span:nth-child(2) {
	opacity: 0;
	width: 30px;
	
	transition: opacity 0.1s ease-out 0s;
}

.full-span:nth-child(3) {
	top: 20px;
}

.full-chk:checked + .full-cntr > .full-span:nth-child(3) {
	transform: rotate(-45deg);
	width: 23px;
	left: 11px;
}


/* style for a nav element, the full-screen menu  */
.full-nav {
	position: fixed;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	background-color: #040e30;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.3s ease-out 0s,
		z-index 0s ease-out 0.3s;
}

.full-chk:checked ~ .full-nav {
	opacity: .8;
	z-index: 200;

	transition: opacity 0.3s ease-out 0s;
}


/* unordered list inside nav element or .full-nav */
/* make position relative to help vertically align menu */
.full-nav-ul {
	position: relative;
	height: 100%;
	margin: 0px auto 0px auto;
	padding: 0px;
	list-style-type: none;
}


/* for vertically aligning our menu */
.full-nav-cntr {
	position: absolute;
	top: 48%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	transform: translate(0%, -50%);
}


/* give the mouse cursor a signal */
.full-nav-hltd {
	padding: 5px 10px 5px 10px;

}

.full-nav-hltd:hover {
	background-color: #08737b;
}


/* undecorate links */
.full-nav-a, .full-nav-a:visited, .full-nav-a:active {
	text-decoration: none;
	color: #ffffff;
}


/* link text inside .full-nav-li */
.full-nav-p {
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 5px 0px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	text-align: center;
}

	@media (min-width: 700px) and (min-height: 450px) {
		.full-nav-p {
			font-size: 26px;
		}
	}


/* main  area */
.full-main {
	width: 100%;
	margin: 10px 0px 20px 0px;
	padding: 0px;
	background-color: #ffffff;
	z-index: 0;
}


/* adjusted content area */
.full-content {
	width: 90%;
	max-width: 400px;
	margin: 30px auto 70px auto;
}

@media (min-width: 600px) {
	.full-content {
		width: 80%;
		max-width: 450px;
		margin: 50px auto 70px auto;
	}
}


/* for styling content from shakespeare.mit.edu/midsummer/midsummer.5.1.html */
h3, b {
	color: #009fab;
}


.full-content > a,
.full-content > blockquote > a,
.full-content > blockquote > p {
	color: #303030;
	font-size: 0.95rem;
}